@page "/Movies"
@using test_shit.Network
@using test_shit.Data
@inject NetworkImpl _networkImpl
@inject NavigationManager NavigationManager

<div class="mainView">
    <div class="container">
        @*<div class="row favoriteMovies">
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="sort" selected="selected">Sort</option>
                        <option value="newest">newest</option>
                        <option value="title">Title (A-Z)</option>
                        <option value="title">Title (Z-A)</option>
                    </select>
                </form>
            </div>
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="genre" selected="selected">Genre</option>
                        <option value="action">Action</option>
                        <option value="comedy">Comedy</option>
                        <option value="crime">Crime</option>
                        <option value="drama">Drama</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="horror">Horror</option>
                        <option value="romance">Romance</option>
                        <option value="science">Science</option>
                        <option value="thriller">Thriller</option>
                        <option value="historical">Historical</option>

                    </select></form>
            </div>
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="ratings">Rating</option>
                        <option value="5stars">5 stars</option>
                        <option value="4stars">4 stars</option>
                        <option value="3stars">3 stars</option>
                        <option value="2stars">2 stars</option>
                        <option value="1star">1 star</option>
                    </select>
                </form>
            </div>
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="year" selected="selected">Year</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                    </select>
                </form>
            </div>
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="boxoffice" selected="selected">Box office</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                    </select>
                </form>
            </div>
            <div class="col-md-0 filterMovies">
                <button type="submit" value="Submit" class="goButton">Go</button>
            </div>

            <div class="col-md-0 filterMovies">
                <input type="reset" class="resetFiltersButton"/>
            </div>

        </div>*@
        <div class="row">
            @if (!_movies.Any())
            {
                <div class="col-md-12 loadingText">
                    Loading...
                </div>
            }
            else
            {
                @foreach (var item in _movies)
                {
                    @if (@item.title != null)
                    {
                        <div class="col-md-3 favoriteMovies">
                            <div class="card mb-4 box-shadow">
                                @if (@item.poster_path == emptyPath || @item.poster_path == null)
                                {
                                    <img src="images/image1.png" style="width: 280px; height: 420px;" @onclick="@(() => ToMovieDetails(item))"/>
                                    <p class="card-text">@item.title</p>
                                }
                                else
                                {
                                    <img src=@item.poster_path style="width: 280px" @onclick="@(() => ToMovieDetails(item))"/>
                                    <p class="card-text">@item.title</p>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

@code {
    private List<Movie> _movies = new List<Movie>();
    private string emptyPath = "https://image.tmdb.org/t/p/original";
    /*
    public string SearchText { get; set; } = "";
    List<Movie> _searchedMovies = _movies.Where(i => i.title.ToLower().Contains(SearchText.ToLower())).ToList();
    */



    protected override async Task OnInitializedAsync()
    {
        try
        {
            _movies = await _networkImpl.getAllMovies();
        }
        catch (Exception e)
        {
            Console.WriteLine("it fucked here");
            Console.WriteLine(e);
        }

        foreach (var item in _movies)
        {
            Console.WriteLine(item.poster_path + ", ");
        }
    }

    private void ToMovieDetails(Movie movie)
    {
        NavigationManager.NavigateTo($"/SelectedMovie/{movie.id}");
        Console.WriteLine("we gooooooo for " + movie.imdb_id + "   " + movie.id);
    }

    

}