@page "/SelectedMovie/{id:int}"
@using test_shit.Data
@using test_shit.Network
@inject IJSRuntime JSRuntime
@using System.Net.Mime
@inject NetworkImpl _networkImpl
@inject NavigationManager NavigationManager


<div class="mainView">
    <div class="container">
    <div class="row">
                <div class="col-md-12 nameTag movieTitles">
                    <h3>@_movie.title</h3>
                </div>
                </div>
        <div class="row">
            <div class="col-md-3">
                @if (_movie.poster_path == emptyPath || _movie.poster_path == null)
                {
                    <img src="images/image1.png" style="width: 280px; height: 420px;"/>
                }
                else
                {
                    <img src=@_movie.poster_path alt="testImages" style="width: 300px; padding-right:30px"/>
                }
            </div>
            <div class="col-md-9">
                
                        <div class="col-md-12 favoriteButton" @onclick="AddToFavorites">
                            <i class="fa fa-heart" id="heart" type="button"></i>
                        </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Genre</label>
                        </div>
                        <div class="col-md-10">
                            @if (!_genres.Any())
                            {
                                <p>Unknown</p>
                            }
                            else
                            {
                                @foreach (var item in _genres)
                                {
                                    <span>@item </span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Runtime</label>
                        </div>
                        <div class="col-md-10">
                            @if (_movie.runtime == 0)
                            {
                                <p>Unknown</p>
                            }
                            else
                            {
                                <p>@_movie.runtime minutes</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Date</label>
                        </div>
                        <div class="col-md-10">
                            @if (_movie.release_date == null)
                            {
                                <p>Unknown</p>
                            }
                            else
                            {
                                <p>@_movie.release_date </p>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Rating</label>
                        </div>
                        <div class="col-md-10">
                            @if (_movie.vote_average == 0)
                            {
                                <p>Unknown</p>
                            }
                            else
                            {
                                <p>@_movie.vote_average / 10</p>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-12 movieDescription">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Description</label>
                        </div>
                    </div>
                    <div class="row">
                        @if (_movie.overview == null)
                        {
                            <p>Unknown</p>
                        }
                        else
                        {
                            <div class="col-md-12">@_movie.overview</div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 topCastLabel movieTitles">
                <h3>Crew</h3>
            </div>
            
            <div class="row">
                            <div class="col-md-12">
                                <div class="container-fluid">
                                    <div id="carousel-example2" class="carousel slide" data-interval="false" data-ride="carousel">
                                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                            @foreach (var item in _crew.Select((value, i) => new { i, value }))
                                            {
                                                var value = item.value;
                                                var index = item.i;
            
                                                if (index == 0)
                                                {
            
                                                    @if (value.profile_path == "https://image.tmdb.org/t/p/original")
                                                    {
                                                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                                                            <p class="card-text jobTitle">@value.job</p>
                                                            <img src="images/image1.png" style="width: 200px; height: 300px" type="button" @onclick="() => ToDirectorDetails(item.value)"/>
                                                            <p class="card-text">@value.name</p>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                                                            <p class="card-text jobTitle">@value.job</p>
                                                            <img src=@value.profile_path style="width: 200px"  type="button" @onclick="() => ToDirectorDetails(item.value)"/>
                                                            <p class="card-text" style="padding: 5px">@value.name</p>
                                                        </div>
                                                    }
                                                }
            
                                                else
                                                {
                                                    @if (value.profile_path == "https://image.tmdb.org/t/p/original")
                                                    {
                                                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                                            <p class="card-text jobTitle">@value.job</p>
                                                            <img src="images/image1.png" style="width: 200px; height: 300px" type="button" @onclick="() => ToDirectorDetails(item.value)"/>
                                                            <p class="card-text">@value.name</p>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                                            <p class="card-text jobTitle">@value.job</p>
                                                            <img src=@value.profile_path style="width: 200px"  type="button" @onclick="() => ToDirectorDetails(item.value)"/>
                                                            <p class="card-text" style="padding: 5px">@value.name</p>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                        
                                        @if (_cast.Count == 0)
                                        {
                                        }
                                        else
                                        {
                                            <a class="carousel-control-prev" href="#carousel-example2" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carousel-example2" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        }
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
        </div>
        

        <div class="row">
            <div class="col-md-12 topCastLabel movieTitles">
                <h3>Top Cast</h3>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div id="carousel-example10" class="carousel slide" data-interval="false" data-ride="carousel">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                @foreach (var item in _cast.Select((value, i) => new { i, value }))
                                {
                                    var value = item.value;
                                    var index = item.i;

                                    if (index == 0)
                                    {

                                        @if (value.profile_path == "https://image.tmdb.org/t/p/original")
                                        {
                                            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">

                                                <img src="images/image1.png" style="width: 200px; height: 300px" type="button" @onclick="()=> ToActorDetails(item.value)" />
                                                <p class="card-text">@value.name</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">

                                                <img src=@value.profile_path style="width: 200px"  type="button" @onclick="()=> ToActorDetails(item.value)"/>
                                                <p class="card-text" style="padding: 5px">@value.name</p>
                                            </div>
                                        }
                                    }

                                    else
                                    {
                                        @if (value.profile_path == "https://image.tmdb.org/t/p/original")
                                        {
                                            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">

                                                <img src="images/image1.png" style="width: 200px; height: 300px"  type="button" @onclick="()=> ToActorDetails(item.value)"/>
                                                <p class="card-text">@value.name</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">

                                                <img src=@value.profile_path style="width: 200px"  type="button" @onclick="()=> ToActorDetails(item.value)"/>
                                                <p class="card-text" style="padding: 5px">@value.name</p>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            
                            @if (_cast.Count == 0)
                            {
                            }
                            else
                            {
                                <a class="carousel-control-prev" href="#carousel-example10" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-example10" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            }
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-5">
                <h2>Stats</h2> 
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <label>Budget</label>
                    </div>
                    @if (_movie.budget == 0)
                    {
                        <div class="col-md-11">
                            <p>Unknown</p>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-11">
                            <p>$@_movie.budget</p>
                        </div>
                    }
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <label>Popularity</label>
                    </div>
                     @if (_movie.popularity == 0)
                     {
                         <div class="col-md-11">
                             <p>Unknown</p>
                             </div>
                     }
                     else
                     {
                         <div class="col-md-11">
                             <p>@_movie.popularity</p>
                         </div>
                     }
                    
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <label>Revenue</label>
                    </div>
                     @if (_movie.revenue == 0)
                     {
                         <div class="col-md-11">
                             <p>Unknown</p>
                             </div>
                     }
                     else
                     {
                         <div class="col-md-11">
                             <p>$@_movie.revenue</p>
                         </div>
                     }
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <label>Tagline</label>
                    </div>
                    @if (_movie.tagline == null)
                    {
                        <div class="col-md-11">
                            <p>Unknown</p>
                            </div>
                    }
                    else
                    {
                        <div class="col-md-11">
                            <p>@_movie.tagline</p>
                        </div>
                    }
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <label>Vote count</label>
                    </div>
                    
                    @if (_movie.vote_count == 0)
                    {
                        <div class="col-md-11">
                            <p>Unknown</p>
                            </div>
                    }
                    else
                    {
                        <div class="col-md-11">
                            <p>@_movie.vote_count</p>
                        </div>
                    }
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h2>Production company</h2> 
                <div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                        </tr>
                    @foreach (var item in _productionCompanies)
                    {
                        <tr>
                            <td>@item.name</td>
                            <td>@item.origin_country</td>
                        </tr>
                    }
                    </table>
                </div>
                </div>
        </div>
        
    
        
    </div>

   
    
</div>

@code {
    [Parameter]
    public int id { get; set; }

    private Movie _movie = new Movie();
    private Credits _credits = new Credits();
    private List<string> _genres = new List<string>();
    private List<Credits.Cast> _cast = new List<Credits.Cast>();
    private List<Credits.Crew> _crew = new List<Credits.Crew>();
    
    private List<Movie.ProductionCompany> _productionCompanies = new List<Movie.ProductionCompany>();

    private string emptySpace = " ";
    private string emptyPath = "https://image.tmdb.org/t/p/original";

   

    protected override async Task OnInitializedAsync()
    {
        _movie = await _networkImpl.getMovieFromApiWithApiIds(id);
        _credits = await _networkImpl.getCreditsFromApi(id);

        foreach (var item in _movie.genres)
        {
            _genres.Add(item.name);
        }

        foreach (var item in _credits.cast)
        {
            _cast.Add(item);
        }

        foreach (var item in _credits.crew)
        {
            _crew.Add(item);
        }

        foreach (var item in _movie.production_companies)
        {
            _productionCompanies.Add(item);
        }
        
        
    }

    public void AddToFavorites()
    {
        _networkImpl.addMovieToFavorites(1, _movie.imdb_id);
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("startCarousels"); // NOTE: call JavaScript function
    }
    
    private void ToActorDetails(Credits.Cast actor)
    {
        NavigationManager.NavigateTo($"/SelectedActor/{actor.id}");
    }
    
    private void ToDirectorDetails(Credits.Crew director)
    {
        NavigationManager.NavigateTo($"/SelectedDirector/{director.id}/{_movie.id}");
    }
    
    
}