@page "/"
@using test_shit.Data
@using test_shit.Network
@inject IJSRuntime JSRuntime
@inject NetworkImpl _networkImpl
@inject NavigationManager NavigationManager
 
 
<div class="mainView">
    <div class="container">
        <div class="row">
            <h4>Movies</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Action</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <div class="container-fluid">
                    @if (_aResults.Count==0)
                                     {
                                         <div class="spinner-border" role="status">
                                             <span class="sr-only">Loading...</span>
                                         </div>
                                    
                                     }
                    <div id="carousel-example1" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">

                            @foreach (var item in _aResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;

                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }
                        </div>
                        @if (_aResults.Count==0)
                        {
                            
                        }
                        else
                        {
                            <a class="carousel-control-prev" href="#carousel-example1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Comedy</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                     @if (_cResults.Count==0)
                                                     {
                                                         <div class="spinner-border" role="status">
                                                             <span class="sr-only">Loading...</span>
                                                         </div>
                                                    
                                                     }
                    <div id="carousel-example2" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _cResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }

                            }
                        </div>
                       @if (_cResults.Count==0)
                                               {
                                                   
                                               }
                                               else
                                               {
                                                   <a class="carousel-control-prev" href="#carousel-example2" role="button" data-slide="prev">
                                                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                       <span class="sr-only">Previous</span>
                                                   </a>
                                                   <a class="carousel-control-next" href="#carousel-example2" role="button" data-slide="next">
                                                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                       <span class="sr-only">Next</span>
                                                   </a>
                                               }
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Crime</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                 
                <div class="container-fluid">
                    @if (_crResults.Count==0)
                                                     {
                                                         <div class="spinner-border" role="status">
                                                             <span class="sr-only">Loading...</span>
                                                         </div>
                                                    
                                                     }
                    <div id="carousel-example3" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _crResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }

                        </div>
                        @if (_crResults.Count==0)
                                                {
                                                    
                                                }
                                                else
                                                {
                                                    <a class="carousel-control-prev" href="#carousel-example3" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-example3" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                }
                    </div>
                </div>
            </div>
        </div>
     
     
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Drama</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    @if (_dResults.Count==0)
                                     {
                                         <div class="spinner-border" role="status">
                                             <span class="sr-only">Loading...</span>
                                         </div>
                                    
                                     }
                    <div id="carousel-example4" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _dResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }

                        </div>
                        @if (_dResults.Count==0)
                                                {
                                                    
                                                }
                                                else
                                                {
                                                    <a class="carousel-control-prev" href="#carousel-example4" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-example4" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                }
                    </div>
                </div>
            </div>
        </div>
     
     
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Fantasy</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    @if (_fResults.Count==0)
                                     {
                                         <div class="spinner-border" role="status">
                                             <span class="sr-only">Loading...</span>
                                         </div>
                                    
                                     }
                    <div id="carousel-example5" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _fResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }

                        </div>
                        @if (_fResults.Count==0)
                                                {
                                                    
                                                }
                                                else
                                                {
                                                    <a class="carousel-control-prev" href="#carousel-example5" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-example5" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                }
                    </div>
                </div>
            </div>
        </div>
     
     
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Horror</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    @if (_hResults.Count==0)
                                     {
                                         <div class="spinner-border" role="status">
                                             <span class="sr-only">Loading...</span>
                                         </div>
                                    
                                     }
                    <div id="carousel-example6" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _hResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }

                        </div>
                        @if (_hResults.Count==0)
                                                {
                                                    
                                                }
                                                else
                                                {
                                                    <a class="carousel-control-prev" href="#carousel-example6" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-example6" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                }
                    </div>
                </div>
            </div>
        </div>
     
     
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Romance</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    @if (_rResults.Count==0)
                                     {
                                         <div class="spinner-border" role="status">
                                             <span class="sr-only">Loading...</span>
                                         </div>
                                    
                                     }
                    <div id="carousel-example7" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _rResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }

                        </div>
                       @if (_rResults.Count==0)
                                               {
                                                   
                                               }
                                               else
                                               {
                                                   <a class="carousel-control-prev" href="#carousel-example7" role="button" data-slide="prev">
                                                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                       <span class="sr-only">Previous</span>
                                                   </a>
                                                   <a class="carousel-control-next" href="#carousel-example7" role="button" data-slide="next">
                                                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                       <span class="sr-only">Next</span>
                                                   </a>
                                               }
                    </div>
                </div>
            </div>
        </div>
     
     
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Sci-fi</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    @if (_sResults.Count==0)
                                     {
                                         <div class="spinner-border" role="status">
                                             <span class="sr-only">Loading...</span>
                                         </div>
                                    
                                     }
                    <div id="carousel-example8" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _sResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }

                        </div>
                        @if (_sResults.Count==0)
                                                {
                                                    
                                                }
                                                else
                                                {
                                                    <a class="carousel-control-prev" href="#carousel-example8" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-example8" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                }
                    </div>
                </div>
            </div>
        </div>
     
     
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Thriller</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    @if (_tResults.Count==0)
                                     {
                                         <div class="spinner-border" role="status">
                                             <span class="sr-only">Loading...</span>
                                         </div>
                                    
                                     }
                    <div id="carousel-example9" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _tResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }

                        </div>
                        @if (_tResults.Count==0)
                                                {
                                                    
                                                }
                                                else
                                                {
                                                    <a class="carousel-control-prev" href="#carousel-example9" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-example9" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                }
                    </div>
                </div>
            </div>
        </div>
     
     
        <div class="row">
            <div class="col-md-12">
                <h3 class="movieTitles">Historical</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    @if (_hiResults.Count==0)
                                     {
                                         <div class="spinner-border" role="status">
                                             <span class="sr-only">Loading...</span>
                                         </div>
                                    
                                     }
                    <div id="carousel-example10" class="carousel slide" data-interval="false" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto" role="listbox">
                            @foreach (var item in _hiResults.Select((value, i) => new { i, value }))
                            {
                                var value = item.value;
                                var index = item.i;
                                if (index == 0)
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" @onclick="@(e => ToMovieDetails(item.value))">
                                        <img src=@value.poster_path class="img-fluid" alt=""/>
                                    </div>
                                }
                            }

                        </div>
                        @if (_hiResults.Count==0)
                                                {
                                                    
                                                }
                                                else
                                                {
                                                    <a class="carousel-control-prev" href="#carousel-example10" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-example10" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                }
                    </div>
                </div>
            </div>
        </div>
     
     
     
    </div>
</div>

@code {
    
    private TopRated _aMovies = new TopRated();
    private List<TopRated.Result> _aResults = new List<TopRated.Result>();
    
    private TopRated _cMovies = new TopRated();
    private List<TopRated.Result> _cResults = new List<TopRated.Result>();
    
    private TopRated _crMovies = new TopRated();
    private List<TopRated.Result> _crResults = new List<TopRated.Result>();
    
    private TopRated _dMovies = new TopRated();
    private List<TopRated.Result> _dResults = new List<TopRated.Result>();
    
    private TopRated _fMovies = new TopRated();
    private List<TopRated.Result> _fResults = new List<TopRated.Result>();
    
    private TopRated _hMovies = new TopRated();
    private List<TopRated.Result> _hResults = new List<TopRated.Result>();
    
    private TopRated _rMovies = new TopRated();
    private List<TopRated.Result> _rResults = new List<TopRated.Result>();
    
    private TopRated _sMovies = new TopRated();
    private List<TopRated.Result> _sResults = new List<TopRated.Result>();
    
    private TopRated _tMovies = new TopRated();
    private List<TopRated.Result> _tResults = new List<TopRated.Result>();
    
    private TopRated _hiMovies = new TopRated();
    private List<TopRated.Result> _hiResults = new List<TopRated.Result>();
    

    string SearchTerm { get; set; } = "";
    
    private void ToMovieDetails(TopRated.Result movie)
    {
        NavigationManager.NavigateTo($"/SelectedMovie/{movie.id}");
        
    }
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _aMovies = await _networkImpl.getMovieBasedOnGenreFromApi(28);
            _aResults = _aMovies.results;
            
            _cMovies = await _networkImpl.getMovieBasedOnGenreFromApi(35);
            _cResults = _cMovies.results;
            
            _crMovies = await _networkImpl.getMovieBasedOnGenreFromApi(80);
            _crResults = _crMovies.results;
            
            _dMovies = await _networkImpl.getMovieBasedOnGenreFromApi(18);
            _dResults = _dMovies.results;
            
            _fMovies = await _networkImpl.getMovieBasedOnGenreFromApi(14);
            _fResults = _fMovies.results;
            
            _hMovies = await _networkImpl.getMovieBasedOnGenreFromApi(27);
            _hResults = _hMovies.results;
            
            _rMovies = await _networkImpl.getMovieBasedOnGenreFromApi(10749);
            _rResults = _rMovies.results;
            
            _sMovies = await _networkImpl.getMovieBasedOnGenreFromApi(878);
            _sResults = _sMovies.results;
            
            _tMovies = await _networkImpl.getMovieBasedOnGenreFromApi(53);
            _tResults = _tMovies.results;
            
            _hiMovies = await _networkImpl.getMovieBasedOnGenreFromApi(36);
            _hiResults = _hiMovies.results;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("startCarousels"); // NOTE: call JavaScript function
    }
}